---
import GartenbauLayout from "@layouts/GartenbauLayout.astro";
import Navigation from "@components/gartenbau/Navigation.astro";
---

<GartenbauLayout>
  <Navigation />
  <main>
    <div class="flex items-center justify-around mt-24 mx-auto lg:max-w-5xl">Coming soon</div>
  </main>
</GartenbauLayout>
