---
import BlogPost from "../../components/BlogPost.astro";
import Layout from "../../layouts/Layout.astro";
import createUniqueTagsFromPosts from "../../utils/createUniqueTagsFromPosts";
import type { Post } from "../../types/posts";

export async function getStaticPaths() {
  const allPosts = (await Astro.glob("../posts/*.md")) as Post[];
  const uniqueTags = createUniqueTagsFromPosts(allPosts);

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag || "My Website"}>
  <p>Posts tagged with {tag}</p>

  <ul>
    {
      posts.map((post: Post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Layout>
