---
import { getCollection } from "astro:content";
import Tags from "../../components/Tags.astro";
import Layout from "../../layouts/Layout.astro";
import createUniqueTagsFromPosts from "../../utils/createUniqueTagsFromPosts";

const uniqueTags = createUniqueTagsFromPosts(await getCollection("posts"));

const pageTitle = "My Tag Index Page";
---

<Layout title={pageTitle}>
  <main>
    <Tags tags={uniqueTags} />
  </main>
</Layout>
