---
import LandingPageLayout from "../layouts/LandingPageLayout.astro";
import Social from "../components/landingPage/Social.astro";
import Work from "../components/landingPage/work/work.astro";

const pageTitle = "Thomas Eberl - Software developer";
---

<LandingPageLayout title={pageTitle}>
  <main>
    <div class="mt-16 sm:mt-32 px-4 sm:px-16 lg:px-24 mx-auto w-full max-w-7xl">
      <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">
        Software developer and outdoor enthusiast
      </h1>
      <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">
        Hey 👋,<br />
        my name is Thomas and I'm a software developer currently working with a great team at
        <a class="text-sm font-medium text-teal-500" href="https://www.zeiss.com/corporate/int/home.html"> @ZEISS</a>
        in Munich / Germany. <br />
        I'm professional at making stuff using .NET, Node.js, React and Next.js. I'm fluent in TypeScript / JS and C# and
        I love to try out new languages and technologies, especially in the field of functional programming. I'm a huge fan
        of
        <a class="text-sm font-medium text-teal-500" href="https://elixir-lang.org/">elixir</a> / erlang and
        <a class="text-sm font-medium text-teal-500" href="https://fsharp.org/"> F#</a> as well as
        <a
          class="text-sm font-medium text-teal-500"
          href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
        >
          Blazor
        </a> from Microsoft.
      </p>
      <Social />
    </div>
    <!-- <Images /> -->
    <!-- TODO add margin-top once blog teasers are available "mt-24 md:mt-28" -->
    <div class="px-4 sm:px-16 lg:px-24 lg:mt-16 mx-auto max-w-7xl">
      <div class="mx-auto grid grid-cols-1 gap-y-20 lg:grid-cols-2">
        <!-- articles -->
        <div class="flex flex-col gap-16"></div>
        <!-- work -->
        <div class="space-y-10 lg:pl-16 xl:pl-24">
          <Work />
        </div>
      </div>
    </div>
  </main>
</LandingPageLayout>
