---
import ThemeIcon from "./ThemeIcon.astro";
---

<nav>
  <div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <ThemeIcon />
  <div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/tags/">Tags</a>
  </div>
</nav>
