---
import MyWebsiteFooter from "../components/myWebsite/MyWebsiteFooter.astro";
import MyWebsiteHeader from "../components/myWebsite/MyWebsiteHeader.astro";

import "../styles/myWebsiteGlobal.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="I'm Thomas a Software Developer and mountain enthusiast based in munich/germany."
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex h-screen flex-col bg-zinc-50 dark:bg-black">
    <MyWebsiteHeader title={title} />
    <slot />
    <MyWebsiteFooter />
  </body>
</html>
